body::before {
  filter: blur(2px);
}
section {
  flex-direction: column;
}
article {
  display: block;
  position: static;
}
article.API_nav_container {
  /* border: 1px dotted #000; */
  width: 1200px;
  height: 80px;
}
article.API_nav_container ul {
  display: flex;
  justify-content: center;
}
li.API_nav_item {
  top: center;
  list-style: none;
  margin: 1.5rem 1.7rem;
  font-size: 21px;
  font-weight: bold;
  transition: 0.2s;
}
li.API_nav_item:hover {
  color: #26bbaa;
  border-bottom: 2px solid #b1b1b1;
  cursor: pointer;
}
article.API_map {
  border: 1px dotted #000;
  width: 1200px;
  height: 700px;
  background-color: #fff;
}
article.API_course {
  width: 1200px;
  height: 40px;
  /* border: 1px solid #000; */
}
div.API_course_create {
  font-weight: 900;
  background-color: #faf4c0;
  border-radius: 10px;
  width: 300px;
  margin: 5px auto;
}
div.API_course_create:hover {
  cursor: pointer;
}
