@charset "UTF-8";
/* 최상위 컨테이너 */

#login_box {
  display: flex;
  width: 800px;
  height: 700px;
  /* background-color: white; */
  border-radius: 5px;
}

div#login_form_box {
  background-color: white;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
/* 로그인 타이틀 */
div#login_form_box h2:nth-of-type(1) {
  font-size: xx-large;
  font-weight: 600; /* 폰트굵기 */
  margin: 50px auto;
  border-top: 5px solid #7ac2e5;
  border-bottom: 5px solid #7ac2e5;
  padding: 10px;
  width: 200px;
}
/* 로그인 타이틀 */
div#login_form_box h2:nth-of-type(2) {
  color: #E70B35;
  margin: 50px auto 50px auto;
  

}
/* 로그인 인풋박스들 */
#login_form_box input {
  border: 2px solid gray;
  background: none;
  display: block;
  width: 300px;
  border-radius: 25px;
  margin: 20px auto;
  padding: 14px 12px;
  /* input box 에 focus 가 있을때 나타나는 기본 outline 제거 */
  outline: none;
  transition: 0.2s;
}
/* input box 를 클릭했을때 */
#login_form_box input:focus {
  width: 320px;
  border-color: #3498db;
}

/* login 버튼 */
#login_form_box #login_button {
  border: 2px solid #3498db;
  margin: 65px auto;
  padding: 14px 10px;
  border-radius: 25px;
  display: block;
  outline: none;
  cursor: pointer;
  background: none;
  width: 200px;
}
#login_form_box #login_button:hover {
  background-color: #3498db;
  color: white;
}

/* 하단 : 회원가입, 아이디/비밀번호 찾기 */
#more_text {
  margin: 90px auto 0px auto;
  font-size: 15px;
}
#more_text a:hover {
  cursor: pointer;
  border-bottom: 1px solid #000;
}
#more_text a:first-of-type {
  margin: 0 auto;
  text-align: center;
}



