@charset "UTF-8";



div.myPagePost {
  width: 100%;
  height: 90%;
}

div.myPagePost #mpPostListBox {
  overflow: auto;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.mPPostBox {
  width: 300px;
  height: 400px;
  /* border: 1px solid #000; */
  padding: 10px;
  margin: 50px 50px 50px 50px;
  overflow: hidden;
  background-color: #fff;
}
img.mPPostImg {
  background-color: #fff7f7;
  /* border: 1px solid #000; */
  width: 280px;
  height: 280px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.mPPostHeart {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
  /* border: 1px solid #000; */
}
.mPPostHeartCount {
  /* border: 1px solid #000; */
  margin-right: 10px;
  font-size: 20px;
  /* border: 1px solid #000; */
}
.mPPostHeart img {
  margin-top: 2px;
  width: 25px;
  height: 25px;
}
.mPPostTitle {
  margin-top: 10px;
  height: 35px;
  /* border: 1px solid #000; */
  overflow: auto;
}
.mPPostTitlebox {
  display: flex;
  justify-content: space-between;
}
.mPPostMapTitle {
  margin-left: 10px;
}
