@charset "UTF-8";
/* 최상위 컨테이너 */

#login_box {
  display: flex;
  width: 1000px;
  height: 700px;
  /* background-color: white; */
  border-radius: 5px;
}

div#login_form_box {
  background-color: white;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 로그인 타이틀 */
div#login_form_box h2 {
  font-size: xx-large;
  font-weight: 600; /* 폰트굵기 */
  margin: 30px auto 100px auto;
  border-top: 5px solid #7ac2e5;
  border-bottom: 5px solid #7ac2e5;
  padding: 10px;
  width: 200px;
}

/* 로그인 인풋박스들 */
#login_form_box input {
  border: 2px solid gray;
  background: none;
  display: block;
  width: 300px;
  border-radius: 25px;
  margin: 20px auto;
  padding: 14px 12px;
  /* input box 에 focus 가 있을때 나타나는 기본 outline 제거 */
  outline: none;
  transition: 0.2s;
}
/* input box 를 클릭했을때 */
#login_form_box input:focus {
  width: 320px;
  border-color: #3498db;
}

/* login 버튼 */
#login_form_box #login_button {
  border: 2px solid #3498db;
  margin: 65px auto;
  padding: 14px 10px;
  border-radius: 25px;
  display: block;
  outline: none;
  cursor: pointer;
  background: none;
  width: 200px;
}
#login_form_box #login_button:hover {
  background-color: #3498db;
  color: white;
}

/* 하단 : 회원가입, 아이디/비밀번호 찾기 */
#more_text {
  margin: 90px auto 0px auto;
  font-size: 15px;
}
#more_text a:hover {
  cursor: pointer;
  border-bottom: 1px solid #000;
}
#more_text a:first-of-type {
  margin-right: 60px;
}

/* 우측 파란화면 */
div#login_right {
  flex: 1;
  background-color: #7ac2e5;
  opacity: 0.7;
}

/* 여기부터 modal */
._modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}
.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;
  height: 600px;

  padding: 40px;

  text-align: center;
  font-size: 30px;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}
/* 아이디 비밀번호 찾기 글자 */
.modal_body_text {
  font-size: 20px;
}

/* 이메일 input을 감싸는 tag */
.modal_body_email {
  width: 100%;
  height: 120px;
  /* display: flex; */
  /* border: 1px solid blue; */
}

/* 이메일 입력 박스 */
.modal_body_email_text {
  width: 200px;
  height: 40px;
  /* margin-right: 20 */
  transition: 0.5s;
  margin-top: 20px;
  border: 2px solid gray;
  border-radius: 25px;
  outline: none;
}
.modal_body_email_text:focus {
  width: 280px;
  border-color: #3498db;
}

/* 인증번호 받기 버튼 */
.modal_body_email_button {
  margin-top: 15px;
  transition: 0.8s;
  border-radius: 15px;

  border: 1px solid skyblue;
  background-color: white;
  padding: 4px;
}

.modal_body_email_button:focus {
  background-color: #3498db;
  color: white;
}
.modal_body_email_button:hover {
  background-color: #3498db;
  color: antiquewhite;
}

/* 인증을 완료했다는 글자와 라인 */
.modal_body_email_checkbox_line {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
/* 아이디 발송됐다는 라인 */
.modal_body_email_checkbox_line2 {
  margin-top: 6px;
  display: flex;
  justify-content: center;
}
/* 버튼 앞에 글자 */
.modal_body_email_checkbox_message {
  font-size: 15px;
}
/* 이메일 인증 체크박스 */
.modal_body_email_checkbox {
}
/* id, password input을 감싸는 tag */
.modal_body_idpass {
  width: 100%;
  height: 100px;
}
/* 아이디 입력 박스 */
.modal_body_idpass_id {
  width: 200px;
  height: 30px;
  margin-top: 50px;
  margin-left: 20%;
  transition: 0.5s;
  border: 2px solid gray;
  border-radius: 25px;
  outline: none;
  display: block;
}
.modal_body_idpass_id:focus {
  width: 280px;
  border-color: #3498db;
}
div.modal_save_buton {
  margin-top: 50px;
}
/* 패스워드 입력 박스 */
.modal_body_idpass_password {
  width: 200px;
  height: 30px;
  margin-top: 20px;
  margin-right: 1%;
  transition: 0.5s;
  border: 2px solid gray;
  border-radius: 25px;
  outline: none;
}
.modal_body_idpass_password:focus {
  width: 280px;
  border-color: #3498db;
}
/* 저장버튼 */
.modal_body_idpass_button {
  border-radius: 15px;
  border: 1px solid skyblue;
  background-color: white;
  padding: 4px;
  width: 100px;
  transition: 0.5s;
}
.modal_body_idpass_button:focus {
  color: white;
  background-color: #3498db;
}
/* 닫기버튼 */
.modal_body_close_button {
  margin-top: 70px;
  width: 60px;
  transition: 0.5s;
  border-radius: 15px;
}
.modal_body_close_button:hover {
  width: 100px;
  background-color: #3498db;
  color: wheat;
  border: 2px solid teal;
}
