<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toes.footprint.persistance.MemberDao">


<insert id="insert">
		INSERT INTO tb_member
			(mb_id, mb_password, mb_nick, mb_proimg, mb_name, mb_birth, mb_tel, mb_email, mb_addr)
		VALUES
			(#{mb_id}, #{mb_password}, #{mb_nick}, #{mb_proimg}, #{mb_name}, #{mb_birth}, #{mb_tel}, #{mb_email}, #{mb_addr})
	</insert>



</mapper>