@charset "UTF-8";
.developer-modal {
    width: 1100px;
    height: 700px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 50px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1%;
    display: inline-block;
  }
  
  .developer-title h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  .developer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
  }
  
  .developer {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    text-align: center;
    align-items: center;
    border-radius: 2%;
    border: 1px solid black;
  }
  /* 
  .developer:last-child {
    margin-right: 0;
  } */
  
  .developer img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: 40px 20px 20px 20px;
    border: 1px solid black;
  }
  
  .developer h3 {
    margin-top: 20px;
    font-size: 26px;
  }
  
  .developer p {
    margin-top: 5px;
  }
  