.shape-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-image: url("image/map/전라남도.png");
  background-size: cover;
 
 

}

.image-link {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid transparent;
  transition-duration: 10s;
}
