.경기{
    /*너비가 1200px보다 작아졌을때는 100%가 된다
    */
max-width: 1200;
margin: 0 auto;
background-color: black;
}
div>img{
    display:flex;
}
.경기>img{
    display: block;
    width: 100%;
    
}
.전남{
   max-width: 1200px;
  background-color: aqua;
  margin: 0 auto;
  display: block;

}
.전남{
    width: 100%;
    display: block;
}



.img-box{
    max-width: 1200px;
    margin: 0 auto;
    background-color: aquamarine;
    display: block;
}
.img-box>img{
    width: 50%;
    display: block;
}