@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gowun Batang", serif;
  font-size: 18px;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  position: relative;
  height: 100%;
  width: 100%;
}
body::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../project_V4_main/image/image/background_img_16-9.jpg)
    no-repeat center fixed;
  background-size: cover;
  opacity: 1;
  z-index: -1;
}
a {
  text-decoration: none;
  color: #222;
}
header {
  display: block;
  position: relative;
  height: 8%;
}
/* 로고 */
header img {
  position: relative;
  position: fixed;
  border-radius: 30%;
  z-index: 2;
  margin: 7px;
  width: 70px;
  height: 70px;
}

/* 햄버거 버튼 */
.cyy_ham_container {
  position: fixed;
  top: 0px;
  right: 0px;
}
/* Trigger Button */

input[id="cyy_ham_trigger"] {
  display: none;
}

label[for="cyy_ham_trigger"] {
  /*border: 1px solid red;*/
  z-index: 2;
  top: 30px;
  right: 20px;
  width: 35px;
  height: 23px;
  display: block;
  position: relative;
  cursor: pointer;
}

label[for="cyy_ham_trigger"] span {
  position: absolute;
  height: 3px;
  background-color: rgb(163, 163, 163);
  width: 100%;
  left: 0;
  transition: 0.3s;
}

label[for="cyy_ham_trigger"] span:nth-child(1) {
  top: 0;
}
label[for="cyy_ham_trigger"] span:nth-child(2) {
  top: 50%;
}
label[for="cyy_ham_trigger"] span:nth-child(3) {
  top: 100%;
}

input[id="cyy_ham_trigger"]:checked + label[for="cyy_ham_trigger"] span {
  background-color: #e70b35;
}

input[id="cyy_ham_trigger"]:checked
  + label[for="cyy_ham_trigger"]
  span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
input[id="cyy_ham_trigger"]:checked
  + label[for="cyy_ham_trigger"]
  span:nth-child(2) {
  opacity: 0;
}
input[id="cyy_ham_trigger"]:checked
  + label[for="cyy_ham_trigger"]
  span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

/* 네비게이션 구역 */

.cyy_nav {
  z-index: 1;
  width: 2200px;
  position: absolute;
  padding-right: 100px;
  top: -90px;
  right: 0;
  padding: 15px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  padding-bottom: 10px;
  transition: 0.3s;
}
.cyy_nav a {
  float: right;
  margin-right: 80px;
  margin-top: 10px;
  margin-bottom: 12px;
  width: 150px;
  display: inline-block;
  height: 40px;
  line-height: 37px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #6d6d6d;
  padding: 0;
  color: #464646;
}

.cyy_nav a:before,
.cyy_nav a:after {
  position: absolute;
  content: attr(data-link);
  width: 100%;
  transition: 0.3s;
}
.cyy_nav a:before {
  top: 0;
  left: 0;
}
.cyy_nav a:after {
  top: 100%;
  left: 0;
  color: #ffffff;
  background-color: #007996;
  border-radius: 15px 15px 0 0;
}
.cyy_nav a:hover:before {
  top: -100%;
}
.cyy_nav a:hover:after {
  top: 0;
}

input[id="cyy_ham_trigger"]:checked ~ .cyy_nav {
  top: 0;
}

/* 본문 */

section {
  display: flex;
  position: relative;
  width: 100%;
  height: 90%;
  z-index: -1;
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
}
article {
  position: absolute;
  overflow: hidden;
  width: 50%;
  height: 50%;
}
footer {
  position: fixed;
  display: block;
  width: 100%;
  height: 2%;
}
footer p {
  display: block;
  text-align: center;
  font-size: 13px;
  font-style: italic;
}
