article {
  position: inherit;
  height: 95%;
  width: 1200px;
  width: 70%;
  text-align: center;
  background-color: #ffffffcc;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-sizing: border-box;
}
article div {
  font-weight: 800;
}
div.myPageHeader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15%;
  text-align: left;
  /* padding: 25px 0 0px 50px; */
  /* border-bottom: 5px solid #00000044; */
  background-color: #00789641;
  color: #26bbaa;
  text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff;
}
div.myPageHeader div {
  /* border: 1px solid #000; */
  border-radius: 0 30px 30px 0;
  background-color: #fff;
  width: 70%;
  font-size: 40px;
  font-weight: 900;
  padding: 5px;
  padding-left: 40px;
}
div.myPageBody {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
div.myPageList {
  width: 25%;
  height: 100%;
}
div.myPageContent {
  width: 75%;
  height: 100%;
}
div.myPageUserProfile {
  display: block;
  padding-top: 20px;
  width: 100%;
  height: 45%;
}
div.myPageUserHeart {
  width: 100%;
  height: 55%;
  padding-bottom: 40px;
}
div.myPageSetting {
  width: 100%;
  height: 30%;
}
div.myPagePost {
  width: 100%;
  height: 30%;
}

div.mPProfileImg {
  position: relative;
  border: 1px solid #000;
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  object-fit: cover;
}
div.mPProfileImg img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.mPProfileChange {
  /* border: 1px solid #000; */
  border-radius: 10px;
  background-color: #f0868483;
  color: #fff;
  position: absolute;
  width: 110px;
  margin: 50px 30px;
  padding: 5px;
  font-size: 20px;
  display: none;
  cursor: pointer;
}
div.mPProfileImg img:hover ~ div.mPProfileChange,
div.mPProfileChange:hover {
  display: block;
}
div.mPProfileChange:hover {
  display: block;
  background-color: #f08684;
}
div.mPProfileName {
  margin-top: 10px;
  font-size: 20px;
}
div.mPProfileLogout {
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 2px 4px;
  border-radius: 10px;
  background-color: #f08684;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}





div.myPageUserHeart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
div.myPageUserHeart #MyALLheart {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.myPageUserHeart #MyALLheart img {
  width: auto;
  height: 40%;
}
div.mPLikeTitle {
  width: 50%;
  text-align: left;
  padding-left: 20px;
}
div.mPLikeCount {
  width: 30%;
  text-align: right;
  padding-right: 20px;
}
div.mPLikeCount span {
  content: "3";
}
div.myPageContent,
div.myPageSetting,
div.myPagePost,
div.myPageTopPost {
  display: flex;
  flex-direction: column;
}

div.mPContentTitle {
  margin-top: 20px;
  padding-left: 10%;
  font-size: 30px;
  height: 50px;
  text-align: left;
}
div.mPContentBox {
  display: flex;
  width: 100%;
  height: 150px;
  margin: 10px auto;
  padding: 5px;
  justify-content: space-evenly;
  border-radius: 30px;
  background-color: #faf4c0;
}
div.mPContentBox div {
  font-size: 20px;
}
div.mPNicSet,
div.mPPWSet,
div.mPContentBox {
  display: flex;
  align-items: center;
}
div.mPNicSet {
  border-right: 1px solid #000;
  width: 55%;
}
div.mPPWSet {
  width: 40%;
}
div.mPNicSet div:first-child,
div.mPPWSet div:first-child {
  margin: 0 15px;
}

.mPBtn {
  font-size: 18px;
  margin-left: 30px;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: #f08684;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.mPNowNic{
  font-size: 18px;
  margin-left: 30px;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: #f08684;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
button.nickbutton{
  font-size: 18px;
  margin-left: 30px;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: #f08684;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

button.nickbutton:hover{
  background-color: wheat;
}

button.passbutton{
  font-size: 18px;
  margin-left: 30px;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: #f08684;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}


button.passbutton:hover{
  background-color: wheat;
}




div.myPageImgContainer {
  height: 40%;
  width: 100%;

  /* border: 1px solid #000; */
  border-bottom: 3px solid #000;
}
div.myPageImgContainer img {
  /* border: 1px solid #000; */
  height: 100%;
  margin: 0 auto;
}
div.mPProfileLogout:hover,
.mPBtn:hover {
  border: 1px solid #f08684;
  color: #f08684;
  background-color: #fff;
}
